
:root {
  /* Background element */
  --color-bg: rgb(237, 241, 247);
  /* Background of interactive elements when focused. */
  --color-interactive-focus-bg: rgb(192, 210, 242);
  /* Interactive controls. Button icons. Link text. Focus outlines and other interactive indicators. */
  --color-interactive: rgb(56, 107, 194);
  /* Demphasized text. */
  --color-fg-text-light: rgb(111, 111, 111);
  /* YarnSpinner brand color for lighter background fill */
  --color-identity-bg: rgb(198, 225, 158);
  /* Foreground UI element borders, e.g. panel dividers. */
  --color-fg-border: rgb(111, 111, 111);
  /* Default text color. */
  --color-fg-text: rgb(46, 46, 46);
  /* YarnSpinner brand color for mid tone border */
  --color-identity-border: rgb(146, 180, 145);
  /* Disabled controls. */
  --color-interactive-disabled: rgb(111, 111, 111);
  /* Shadow for higher raised elements, like focused nodes. */
  --color-shadow-dark: rgba(54, 54, 80, 0.4);
  /* YarnSpinner brand color for logo lines and text */
  --color-identity: rgb(59, 136, 96);
  /* Shadow for regular raised elements. */
  --color-shadow: rgba(46, 46, 66, 0.24);
  /* Foreground UI elements, e.g. panels. */
  --color-fg: rgb(255, 255, 255);
  /* Interactive controls meant to invite interaction but also be less emphasized, e.g. placeholder, secondary controls. */
  --color-interactive-light: rgb(150, 180, 232);
  /* Background inset parts, e.g. the holes in the pegboard */
  --color-bg-inset: rgb(211, 220, 234);
  --space-gap-l: 16px;
  --space-gap-m: 8px;
  --space-xl: 128px;
  --space-gap-s: 4px;
  --space-control-l: 64px;
  --space-control-m: 48px;
  --space-l: 64px;
  --space-xs: 8px;
  --space-m: 32px;
  --space-control-xs: 16px;
  --space-gap-xl: 32px;
  --space-control-s: 24px;
  --space-s: 16px;
  --space-gap-xs: 2px;
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 21px;
  --font-size-xl: 32px;
  --font-size-control: 21px;
  --line-height-match: 1;
  --line-height-tight: 1.2;
  --line-height-base: 1.4;
  --line-height-wide: 2;
  --font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  --line-weight-m: 2px;
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;
}
