/* for composing sets of tokens into css specific markup */

/* Shadows */

@mixin shadow () {
    box-shadow: 0px 2px 4px 0px var(--color-shadow);
}

@mixin shadow-heavy () {
    box-shadow: 0px 2px 6px 2px var(--color-shadow-dark);
}

/* Interactive Elements */

$control-default-line-weight: var(--line-weight-s);

@mixin control-base ($line-weight: $control-default-line-weight) {
    background-color: var(--color-fg);
    border: $line-weight solid transparent;
    color: var(--color-interactive);
    font-size: var(--font-size-control);
}

@mixin control-highlighted ($line-weight: $control-default-line-weight) {
    background-color: var(--color-fg-interactive-tint);
    border: $line-weight solid var(--color-interactive);
    outline: none;
}

@mixin control-disabled ($line-weight: $control-default-line-weight) {
    background-color: var(--color-fg);
    border: $line-weight solid transparent;
    color: var(--color-interactive-disabled);
    cursor: not-allowed;
    outline: none;
}

/*
  Text styles are in src/components/formatting/WriterText.vue
  But could be represented here as mixins and imported there.
*/