@import '~@/tokens/generated/defaults.custom-properties.css';

body, html {
    font-family: var(--font-family-system);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-fg-text);
}