$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$color-light-bg: #D7EBF7;
$color-light-fg: #FFF;
$color-light-lines: #4FABE1;
$color-light-text: #2C2D2E;

$color-dark-bg: #32393E;
$color-dark-fg: #242C32;
$color-dark-lines: #295A77;
$color-dark-text: rgb(154, 169, 177);